<h1>Create a Team and Heroes!</h1>



<form action = "/teams" method = "post">
<h3> Team Info </h3>
<label for = "">Team Name: </label>
<input type = "text" name = "team[name]" id = "team[name]">
<label for = "">Team Motto: </label>
<input type = "text" name = "team[motto" id = "team[motto]">

<h3>Hero 1 </h3>
<label for = "">Hero Name: </label>
<input type = "text" name = "team[members][][name]" id = "member1_name">
<label for = "">Hero Power: </label>
<input type = "text" name = "team[members][][power]" id = "member1_power">
<label for = "">Hero Biography: </label>
<input type = "text" name = "team[members][][bio]" id = "member1_bio">

<h3>Hero 2 </h3>
<label for = "">Hero Name: </label>
<input type = "text" name = "team[members][][name]" id = "member2_name">
<label for = "">Hero Power: </label>
<input type = "text" name = "team[members][][power]" id = "member2_power">
<label for = "">Hero Biography: </label>
<input type = "text" name = "team[members][][bio]" id = "member2_bio">

<h3>Hero 3 </h3>
<label for = "">Hero Name: </label>
<input type = "text" name = "team[members][][name]" id = "member3_name">
<label for = "">Hero Power: </label>
<input type = "text" name = "team[members][][power]" id = "member3_power">
<label for = "">Hero Biography: </label>
<input type = "text" name = "team[members][][bio]" id = "member3_bio">



  <input type="submit" value="submit">
</form>
































