<form action="/teams" method="post">
<h1>Create a Team and Heroes!</h1>
  Team Name: <input type="text" name="team[name]" placeholder="Team Name">
  Team Motto: <input type="text" name="team[motto]" placeholder="Team Motto">

  <h2>Hero 1</h2>

  Hero's Name: <input type="text" name="team[heros][][name]" placeholder="Hero's Name">
  Hero's Power: <input type="text" name="team[heros][][power]" placeholder="Hero's Power">
  Hero's Biography: <input type=textarea name="team[heros][][bio]" placeholder="Hero's Biography">

  <h2>Hero 2</h2>

  Hero's Name: <input type="text" name="team[heros][][name]" placeholder="Hero's Name">
  Hero's Power: <input type="text" name="team[heros][][power]" placeholder="Hero's Power">
  Hero's Biography: <input type=textarea name="team[heros][][bio]" placeholder="Hero's Biography">

  <input type="submit">

</form>
