<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create a Team and Heroes</title>
  </head>
  <body>
    <h1>Create a Team and Heroes</h1>
    <form action="/" method="post">
      <p>Team Name: <input type="text" name="name"></p>
      <p>Team Motto: <input type="text" name="motto"></p>
      <h2>Hero 1</h2>
      <p>Hero Name: <input type="text" name="hero_name"></p>
      <p>Hero Power: <input type="text" name="hero_power"></p>
      <p>Hero Biography: <input type="text" name="hero_bio"></p>

    </form>
  </body>
</html>
