<h1>Create a Team and Heroes!</h1>
<form method="POST" action='/teams'>
  <h5>Team:</h5>
  <label for="name">Name:</label>
  <input type="text" name="team[name]"><br>
  <label for="motto">Motto:</label>
  <input type="text" name="team[motto]"><br>
  <br>
  <h5>HERO 1:</h5>
  <label for="member1_name">Name:</label>
  <input id="member1_name" type="text" name="team[members][][name]"><br>
  <label for="member1_power">Type:</label>
  <input id="member1_power" type="text" name="team[members][][power]"><br>
  <label for="member1_bio">Booty:</label>
  <input id="member1_bio" type="text" name="team[members][][bio]"><br>
  <br>
  <h5>HERO 2:</h5>
  <label for="member2_name">Name:</label>
  <input id="member2_name" type="text" name="team[members][][name]"><br>
  <label for="member2_power">Type:</label>
  <input id="member2_power" type="text" name="team[members][][power]"><br>
  <label for="member2_bio">Booty:</label>
  <input id="member2_bio" type="text" name="team[members][][bio]"><br>
   <br>
  <h5>HERO 3:</h5>
  <label for="member3_name">Name:</label>
  <input id="member3_name" type="text" name="team[members][][name]"><br>
  <label for="member3_power">Type:</label>
  <input id="member3_power" type="text" name="team[members][][power]"><br>
  <label for="member3_bio">Booty:</label>
  <input id="member3_bio" type="text" name="team[members][][bio]"><br>
 <br>
  <input id="Submit" type="submit" value="submit"></input>
</form>
