<!DOCTYPE html>
<html>
  <head>
    <title>Superheroes Forms Lab</title>
  </head>
  <body>

<h1>"Create a Team and Heroes!" </h1 >
  <form action="/superheroes" method="post">
    <p>Superhero Name: <input id="superhero_name" type="text" name="superhero[name]"></p>
    <p>Superhero Power: <input id="superhero_power" type="text" name="superhero[power]"></p>
    <p>Superhero Team: <input id="superhero_team" type="text" name="superhero[team]"></p>
     <input type="submit" value="Submit">
  </form>

</body>
</html>
