<h1>Create a Team and Heroes!</h1>
<form action="/teams" method="POST">
  <label for="team name">Team Name: <label>
  <input type="text" name="team[name]"><br>

  <label for="team motto">Team Motto: <label>
  <input type="text" name="team[motto]"><br>

  <h2>Hero 1</h2>
  <label for="hero 1 name">Hero's Name: <label>
  <input id="member1_name" type="text" name="team[heroes][][name]"><br>

  <label for="hero 1 power">Hero's Power: <label>
  <input id="member1_power" type="text" name="team[heroes][][power]"><br>

  <label for="hero 1 power">Hero's Biography: <label>
  <input id="member1_bio" type="text" name="team[heroes][][bio]"><br>

  <h2>Hero 2</h2>
  <label for="hero 2 name">Hero's Name: <label>
  <input id="member2_name" type="text" name="team[heroes][][name]"><br>

  <label for="hero 2 power">Hero's Power: <label>
  <input id="member2_power" type="text" name="team[heroes][][power]"><br>

  <label for="hero 2 power">Hero's Biography: <label>
  <input id="member2_bio" type="text" name="team[heroes][][bio]"><br>

  <h2>Hero 3</h2>
  <label for="hero 3 name">Hero's Name: <label>
  <input id="member3_name" type="text" name="team[heroes][][name]"><br>

  <label for="hero 3 power">Hero's Power: <label>
  <input id="member3_power" type="text" name="team[heroes][][power]"><br>

  <label for="hero 3 power">Hero's Biography: <label>
  <input id="member3_bio" type="text" name="team[heroes][][bio]"><br>
  <button type="submit">submit</button>

</form>
