  <h2>Create a Team and Heroes!</h2>

<form action='/teams' method="POST">


    <label for="Team_name">TEAM NAME:</label><br>
       <input id="Team_name" type="text" name="team[name]" /><br>

    <label for="Team_motto">TEAM MOTTO:</label><br>
       <input id="Team_name" type="text" name="team[motto]" /><br>

       <button id="submit" type="submit">Submit</button>

</form>
