<h1>Welcome to the Nested Forms Lab Superheroes!</h1>

<h3>You'll be asked to create a Team with three superheroes in it.</h3>

<h3>A Team will have a name and a motto.</h3>

<h3>A Hero will have a name, a power and a bio.</h3>

<h3><a href="/new">Let's fill out some forms!</a></h3>
