<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Super Heros</title>
</head>
<body>
  <h1>Create a Team and Heroes!</h1>

  <form action="/super_hero" method="POST">
    <label for="hero_name">Name:</label>
    <input type="text" name="team[name]">


  </form>

</body>
</html>
