<h1>Create a Team and Heroes!</h1>

<form action="/teams" method="POST">

Team Name:
Team Motto:

Hero 1

Hero's Name
Hero's Power
Hero's Biography

Hero 2

Hero's Name
Hero's Power
Hero's Biography

Hero 3

Hero's Name
Hero's Power
Hero's Biography

</form>
