<!DOCTYPE html>

<html>
<body>

  <h1>Create a Team and Heroes!</h1>

  <form method="post" action="teams">
    <p>Team Name<input type="text" name="team[name]" id="team[name]"></p>
    <p>Team Motto<input type="text" name="team[motto]" id="team[motto]"></p>

    <% 3.times do |time| %>
      <h1>Hero <%= time + 1 %></h1>
      <p>Hero Name<input type="text" name="team[hero][][name]" id="member<%= time + 1 %>_name"></p>
      <p>Hero Power<input type="text" name="team[hero][][power]" id="member<%= time + 1 %>_power"></p>
      <p>Hero Biography<input type="text" name="team[hero][][biography]" id="member<%= time + 1 %>_bio"></p>
    <% end %>

    <p><input type="submit" name="submit" id="submit"></p>

  </form>

</body>
</html>
