<h1>Create a Team and Heroes!</h1>

<form method="POST" action="/teams">
  <label id="team_name">Team Name:</label>
  
  <!-- Note: Before I move on, I should figure out what I want my params to look like. -->
  
  <label id="team_motto">Team Motto:</label>
</form>