
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Team</title>
  </head>
  <body>
    <h1>Create a Team and Heroes!</h1>
    <form action="/team" method="post">
      <div class="team">
        <p>Team Name: <input type="text" name="team[name]" value=""></p>
        <p>Team Motto: <input type="text" name="team[motto]" value=""></p>
      </div>

      <div class="heroes">
        <div>
          <p>Hero's Name: <input id="member1_name" type="text" name="team[members][][name]"></p>
          <p>Hero's Power: <input id="member1_power" type="text" name="team[members][][power]"></p>
          <p>Hero's Biography: <input id="member1_bio" type="text" name="team[members][][biography]"></p>
        </div>
        <div>
          <p>Hero's Name: <input id="member2_name" type="text" name="team[members][][name]"></p>
          <p>Hero's Power: <input id="member2_power" type="text" name="team[members][][power]"></p>
          <p>Hero's Biography: <input id="member2_bio" type="text" name="team[members][][biography]"></p>
        </div>
        <div>
          <p>Hero's Name: <input id="member3_name" type="text" name="team[members][][name]"></p>
          <p>Hero's Power: <input id="member3_power" type="text" name="team[members][][power]"></p>
          <p>Hero's Biography: <input id="member3_bio" type="text" name="team[members][][biography]"></p>
        </div>
      </div>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
