

<h1>Create a Team and Heroes!</h1>
<ul>
<form action="/teams" method="POST">
  <li>Team Name: <input id="team[name]" type="text" name="team[name]"></li>
  <li>Team Moto: <input id="team[motto]" type="text" name="team[motto]"></li>
  <h2>Hero 1</h2>
  <li>Hero's Name: <input id="member1_name" type="text" name="team[members][][name]"></li>
  <li>Hero's Power: <input id="member1_power" type="text" name="team[members][][power]"></li>
  <li>Hero's Biography: <input id="member1_bio" type="text" name="team[members][][bio]"></li>
  <h2>Hero 2</h2>
  <li>Hero's Name: <input id="member2_name" type="text" name="team[members][][name]"></li>
  <li>Hero's Power: <input id="member2_power" type="text" name="team[members][][power]"></li>
  <li>Hero's Biography: <input id="member2_bio" type="text" name="team[members][][bio]"></li>
  <h2>Hero 3</h2>
  <li>Hero's Name: <input id="member3_name" type="text" name="team[members][][name]"></li>
  <li>Hero's Power: <input id="member3_power" type="text" name="team[members][][power]"></li>
  <li>Hero's Biography: <input id="member3_bio" type="text" name="team[members][][bio]"></li>
  <input type="submit" value="submit"> 
</form>
</ul>