<!doctype html>
<html>
    <head>
        
    </head>
    <body>
        <h1>Create a Team and Heroes!</h1>
        <form method="POST" action="/team">
            <p>Team Name: <input name="team[name]" type="text"></p>
            <p>Team Motto: <input name="team[motto]" type="text"></p>
            <h2>Hero 1</h2>
            <p>Hero's Name: <input id="member1_name" name="team[members][][name]" type="text"></p>
            <p>Hero's Power: <input id="member1_power" name="team[members][][power]" type="text"></p>
            <p>Hero's Biography: <input id="member1_bio" name="team[members][][bio]" type="text"></p>
            <h2>Hero 2</h2>
            <p>Hero's Name: <input id="member2_name" name="team[members][][name]" type="text"></p>
            <p>Hero's Power: <input id="member2_power" name="team[members][][power]" type="text"></p>
            <p>Hero's Biography: <input id="member2_bio" name="team[members][][bio]" type="text"></p>
            <h2>Hero 3</h2>
            <p>Hero's Name: <input id="member3_name" name="team[members][][name]" type="text"></p>
            <p>Hero's Power: <input id="member3_power" name="team[members][][power]" type="text"></p>
            <p>Hero's Biography: <input id="member3_bio" name="team[members][][bio]" type="text"></p>
            <input id="submit" type="submit">
        </form>
    </body>
</html>
