<form action='/super_hero' method="GET">
  <h1>Create a Team and Heroes!</h1>
  <h2>The Team</h2>
  <label for="team[name]">Team Name:</label><br>
  <input id="team_name" type="text" name="team[name]" /><br>
  <label for="team[motto]">Weight</label><br>
  <input id="team_motto" type="text" name="team[motto]" /><br>

<h2>Hero 1</h2>
<p><label for="hero_name_1">Ship Name:</label>
  <input type="text" name="hero[teams][][name]" id="hero_name_1"></p>
<p><label for="hero_power_1">Ship Type:</label>
  <input type="text" name="hero[teams][][power]" id="hero_power_1"></p>
<p><label for="hero_biography_1">Ship Booty:</label>
  <input type="text" name="hero[teams][][biography]" id="hero_biography_1"></p>

<h2>Hero 2</h2>
<p><label for="ship_name_2">Ship Name:</label>
  <input type="text" name="hero[teams][][name]" id="hero_name_2"></p>
<p><label for="ship_type_2">Ship Type:</label>
  <input type="text" name="hero[teams][][power]" id="hero_power_2"></p>
<p><label for="ship_booty_2">Ship Booty:</label>
  <input type="text" name="hero[teams][][biography]" id="hero_biography_2"></p>
  <input id="Submit" type="submit">
</form>
