<h1>Create a Team and Heroes!</h1>
<form action="/team" method="post">

<p><label for="team_name">Team Name: <input type="text" id="team_name" name="team[name]"></label></p>
<p><label for="team_motto">Team Motto: <input type="text" id="team_motto" name="team[motto]"></label></p>

<h2>Hero 1</h2>

<p><label for="hero_name">Hero's Name: <input type="text" id="member1_name" name="members[][name]"></label></p>
<p><label for="hero_power">Hero's Power: <input type="text" id="member1_power" name="members[][power]"></label></p>

<p><label for="hero_bio">Hero's Biography: <input type="text" id="member1_bio" name="members[][bio]"></label></p>

<h2>Hero 2</h2>

<p><label for="hero_name">Hero's Name: <input type="text" id="member2_name" name="members[][name]"></label></p>
<p><label for="hero_power">Hero's Power: <input type="text" id="member2_power" name="members[][power]"></label></p>

<p><label for="hero_bio">Hero's Biography: <input type="text" id="member2_bio" name="members[][bio]"></label></p>


<h2>Hero 3</h2>

<p><label for="hero_name">Hero's Name: <input type="text" id="member3_name" name="members[][name]"></label></p>

<p><label for="hero_power">Hero's Power: <input type="text" id="member3_power" name="members[][power]"></label></p>

<p><label for="hero_bio">Hero's Biography: <input type="text" id="member3_bio" name="members[][bio]"></label></p>


<input type="submit" id="submit">
</form>
