
<form method="POST" action='/super_hero'>
  <h2>Create a Team and Heroes!</h2>

    <label for="team[name]">Team Name:</label>
      <input type="text" id="team[name]"name="team[name]"/>
          <br></br>

    <label for="team[motto]">Team Motto:</label>
      <input type="text" id="team[motto]"name="team[motto]"/>

          <br></br>

    <h2>Hero 1</h2>

    <label for="hero[name]">Hero Name:</label>
      <input type="text" id="member1_name" name="hero[name]"/>
          <br></br>

    <label for="hero[power]">Hero Power:</label>
      <input type="text" id="member1_power" name="hero[power]"/>
          <br></br>

    <label for="hero[bio]">Hero Biography:</label>
      <input type="text" id="member1_bio" name="hero[bio]"/>
          <br></br>



      <h2>Hero 2</h2>

      <label for="hero[name]">Hero Name:</label>
        <input type="text" id="member2_name" name="hero[name]"/>
          <br></br>

      <label for="hero[power]">Hero Power:</label>
        <input type="text" id="member2_power" name="hero[power]"/>
          <br></br>

      <label for="hero[bio]">Hero Biography:</label>
        <input type="text" id="member2_bio" name="hero[bio]"/>
          <br></br>


        <h2>Hero 3</h2>

        <label for="hero[name]">Hero Name:</label>
          <input type="text" id="member3_name" name="hero[name]"/>
            <br></br>

        <label for="hero[power]">Hero Power:</label>
          <input type="text" id="member3_power" name="hero[power]"/>
            <br></br>

        <label for="hero[bio]">Hero Biography:</label>
          <input type="text" id="member3_bio" name="hero[bio]"/>
            <br></br>

            <br></br>

    <!-- <input type="submit" value="Submit"> -->
    <button type="submit" value="submit">Submit</button>
            <br></br>

      </p>
    </form>
  </body>
</html>
