<h1>Create a Team and Heroes!</h1>

<form action="/teams" method="post">
  <p>
  team name: <input type="text" name="team[name]">
  team motto: <input type="text" name="team[motto]">
  </p>member 1<p>
  member 1 name: <input id="member1_name" type="text" name="team[members][][name]" >
  member 1 power: <input id="member1_power" type="text" name="team[members][][power]" >
  member 1 bio: <input id="member1_bio" type="text" name="team[members][][bio]" >
  </p>member 2<p>
  member 2 name: <input id="member2_name" type="text" name="team[members][][name]" >
  member 2 power: <input id="member2_power" type="text" name="team[members][][power]" >
  member 2 bio: <input id="member2_bio" type="text" name="team[members][][bio]" >
  </p>member 3<p>
  member 3 name: <input id="member3_name" type="text" name="team[members][][name]" >
  member 3 power: <input id="member3_power" type="text" name="team[members][][power]" >
  member 3 bio: <input id="member3_bio" type="text" name="team[members][][bio]" >
  <input type="submit" value = "submit">
</form>
