<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Create Team of Heroes</title>
  </head>
  <body>
    <h1>Create a Team and Heroes!</h1>
    <form method="POST" action="/team">
      <label for="team_name">Team Name:</label><br>
      <input type="text" id="team_name" name='team[name]'><br>
      <label for="team_motto">Team Motto:</label><br>
      <input type="text" id="team_motto" name='team[motto]'><br>

    <h1>Hero 1</h1>
      <label for="member1_name">Name:</label><br>
      <input type="text" id="member1_name" name='team[hero][][name]'><br>
      <label for="member1_power">Super Power:</label><br>
        <input type="text" id="member1_power" name='team[hero][][power]'><br>
      <label for="member1_bio">Bio:</label><br>
      <input type="text" id="member1_bio" name='team[hero][][bio]'><br>


      <h1>Hero 2</h1>
        <label for="member2_name">Name:</label><br>
        <input type="text" id="member2_name" name='team[hero][][name]'><br>
        <label for="member2_power">Super Power:</label><br>
        <input type="text" id="member2_power" name='team[hero][][power]'><br>
        <label for="member2_bio">Bio:</label><br>
        <input type="text" id="member2_bio" name='team[hero][][bio]'><br>

        <h1>Hero 3</h1>
          <label for="member3_name">Name:</label><br>
          <input type="text" id="member3_name" name='team[hero][][name]'><br>
          <label for="member3_power">Super Power:</label><br>
          <input type="text" id="member3_power" name='team[hero][][power]'><br>
          <label for="member3_bio">Bio:</label><br>
          <input type="text" id="member3_bio" name='team[hero][][bio]'><br>
        <input type="submit" value="submit">
    </form>
  </body>
</html>
