<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Create a Team and Heroes!</h1>
  <form action="/teams" method="post">
    <h4>Team Name: <input type="text" name="team[name]"></h4>
    <h4>Team Motto: <input type="text" name="team[motto]"></h4>

    <h2>Hero 1</h2>
    <h4>Hero's Name: <input id="member1_name" type="text" name="team[heroes][][name]"></h4>
    <h4>Hero's Power: <input id="member1_power" type="text" name="team[heroes][][power]"></h4>
    <h4>Hero's Biography: <input id="member1_bio" type="text" name="team[heroes][][bio]"></h4>

    <h2>Hero 2</h2>
    <h4>Hero's Name: <input id="member2_name" type="text" name="team[heroes][][name]"></h4>
    <h4>Hero's Power: <input id="member2_power" type="text" name="team[heroes][][power]"></h4>
    <h4>Hero's Biography: <input id="member2_bio" type="text" name="team[heroes][][bio]"></h4>

    <h2>Hero 3</h2>
    <h4>Hero's Name: <input id="member3_name" type="text" name="team[heroes][][name]"></h4>
    <h4>Hero's Power: <input id="member3_power" type="text" name="team[heroes][][power]"></h4>
    <h4>Hero's Biography: <input id="member3_bio" type="text" name="team[heroes][][bio]"></h4>

    <input type="submit" name="submit" value="submit">
  </form>
</body>
</html>
