<form action='/teams' method="POST">
  <h2>Team</h2>
  <p>Create a Team and Heroes!</p>
  <label for="Team_Name">Name</label><br>
  <input id="Team_Name" type="text" name="team[name]" /><br>
  <label for="Team_Motto">Weight</label><br>
  <input id="Team_Motto" type="text" name="team[motto]" /><br><br>

  <h2>Heroes</h2>
  <label for="Hero_Name_1">Name</label><b>
  <input id="member1_name" type="text" name="team[hero][][name]" /><br>
  <label for="Hero_Power_1">Power</label><br>
  <input id="member1_power" type="text" name="team[hero][][power]" /><br>
  <label for="Hero_Biography_1">Biography</label><br>
  <input id="member1_bio" type="text" name="team[hero][][bio]" /><br><br>

  <label for="Hero_Name_2">Name</label><br>
  <input id="member2_name" type="text" name="team[hero][][name]" /><br>
  <label for="Hero_Power_2">Power</label><br>
  <input id="member2_power" type="text" name="team[hero][][power]" /><br>
  <label for="Hero_Biography_2">Biography</label><br>
  <input id="member2_bio" type="text" name="team[hero][][bio]" /><br><br>

  <label for="Hero_Name_3">Name</label><br>
  <input id="member3_name" type="text" name="team[hero][][name]" /><br>
  <label for="Hero_Power_3">Power</label><br>
  <input id="member3_power" type="text" name="team[hero][][power]" /><br>
  <label for="Hero_Biography_3">Biography</label><br>
  <input id="member3_bio" type="text" name="team[hero][][bio]" /><br>
  <input type="submit" value="submit">
</form>
