<h1>Create a Team and Heroes!</h1>
<form method="post"  action="/teams">
  <label for ="Name">Team Name: <input type="text" name="team[name]"><br>
  <label for ="Motto">Team Motto: <input type="text" name="team[motto]"><br>
<h2>Hero 1</h2>
  <label for ="Name">Hero Name: <input type="text" name="superhero[name]"><br>
  <label for ="Power">Hero Power: <input type="text" name="superhero[power]"><br>
  <label for ="Bio">Hero Biography: <input type="text" name="superhero[biography]"><br>
<h2>Hero 2</h2>
  <label for ="Name">Hero Name: <input type="text" name="superhero[name]"><br>
  <label for ="Power">Hero Power: <input type="text" name="superhero[power]"><br>
  <label for ="Bio">Hero Biography: <input type="text" name="superhero[biography]"><br>
<h2>Hero 3</h2>
  <label for ="Name">Hero Name: <input type="text" name="superhero[name]"><br>
  <label for ="Power">Hero Power: <input type="text" name="superhero[power]"><br>
  <label for ="Bio">Hero Biography: <input type="text" name="superhero[biography]"><br>
<input type="submit">
