<h1>Create a Team and Heroes!</h1>
<form action="/teams" method="post">
  <div>Team Name: <input type="text" name="team[name]"></div>
  <div>Team Motto: <input type="text" name="team[motto]"></div>

  <h2>Hero 1</h2>
  <div>Hero's Name: <input type="text" name="team[super_hero][][name]" id="member1_name"></div>
  <div>Hero's Power: <input type="text" name="team[super_hero][][power]" id="member1_power"></div>
  <div>Hero's Bio: <input type="text" name="team[super_hero][][biography]" id="member1_bio"></div>

  <h2>Hero 2</h2>
  <div>Hero's Name: <input type="text" name="team[super_hero][][name]" id="member2_name"></div>
  <div>Hero's Power: <input type="text" name="team[super_hero][][power]" id="member2_power"></div>
  <div>Hero's Bio: <input type="text" name="team[super_hero][][biography]" id="member2_bio"></div>

  <h2>Hero 3</h2>
  <div>Hero's Name: <input type="text" name="team[super_hero][][name]" id="member3_name"></div>
  <div>Hero's Power: <input type="text" name="team[super_hero][][power]" id="member3_power"></div>
  <div>Hero's Bio: <input type="text" name="team[super_hero][][biography]" id="member3_bio"></div>
  </br>
  <input type="submit" value="submit">
</form>
