
<form  action="/teams" method="post">

  <h1>Create a Team and Heroes!</h1>

  <h2>Team Name<input id="Team name" type="text" name="team[name]" ></h2>
  <h2>Team Motto<input id="Team motto" type="text" name="team[motto]" ></h2>


<h1>Heroes</h1>

<h2>Hero 1 </h2>
<!--  !!!! []   === turn what is passed in into array of hashs-->
  <h3>Hero Name:<input id="member1_name" type="text" name="hero[][name]" ></h3>
<br>
  <h3>Hero Power:<input id="member1_power" type="text" name="hero[][power]" ></h3>
  <h3>Hero Biography:<input id="member1_bio" type="text" name="hero[][bio]" ></h3>

  <h2>Hero 2 </h2>
    <h3>Hero Name:<input id="member2_name" type="text" name="hero[][name]" ></h3>
<br>
    <h3>Hero Power:<input id="member2_power" type="text" name="hero[][power]" ></h3>
    <h3>Hero Biography:<input id="member2_bio" type="text" name="hero[][bio]" ></h3>

    <h2>Hero 3 </h2>
      <h3>Hero Name:<input id="member3_name" type="text" name="hero[][name]" ></h3>
<br>
      <h3>Hero Power:<input id="member3_power" type="text" name="hero[][power]" ></h3>
      <h3>Hero Biography:<input id="member3_bio" type="text" name="hero[][bio]" ></h3>

<br>
<button type="submit" value="submit">submit</button>

</form>
