<h1> Create a Team and Heroes!</h1>
<form action='/teams' method="POST"> 
 <label for="team_name">Team Name:</label>
 <input type="text" name="team[name]" id="team[name]"><br> 
 
 <label for="team_motto">Team motto:</label>
 <input type="text" name="team[motto]" id="team[motto]">
 
 
 <h1>Hero 1</h1>
 <label for = "member1_name">Hero's Name:</label>
 <input type="text" name="team[members][][name]" id="member1_name"><br> 
 
 <label for = "member2_power">Hero's Power:</label>
 <input type="text" name="team[members][][power]" id="member1_power"><br>
 
 <label for = "member2_bio">Hero's Biography:</label>
 <input type="text" name="team[members][][bio]" id="member1_bio"><br> 
 
 
 
 
 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </form>
