<h1>Create a Team and Heroes!</h1>
<form method="POST" action="/teams">
    <label for="team_name"><p>Team Name: </label><input id="team_name" type="text" name="team[name]"></p>
    <label for="team_motto"><p>Team Motto: </label><input id="team_motto" type="text" name="team[motto]"></p>

    <h2>Hero 1</h2>
    <label for="member1_name"><p>Hero's Name: </label><input id="member1_name" type="text" name="team[members][][name]"></p>
    <label for="member1_power"><p>Hero's Power: </label><input id="member1_power" type="text" name="team[members][][power]"></p>
    <label for="member1_bio"><p>Hero's Biography: </label><input id="member1_bio" type="text" name="team[members][][bio]"></p>

    <h2>Hero 2</h2>
    <label for="member2_name"><p>Hero's Name: </label><input id="member2_name" type="text" name="team[members][][name]"></p>
    <label for="member2_power"><p>Hero's Power: </label><input id="member2_power" type="text" name="team[members][][power]"></p>
    <label for="member2_bio"><p>Hero's Biography: </label><input id="member2_bio" type="text" name="team[members][][bio]"></p>

    <h2>Hero 3</h2>
    <label for="member3_name"><p>Hero's Name: </label><input id="member3_name" type="text" name="team[members][][name]"></p>
    <label for="member3_power"><p>Hero's Power: </label><input id="member3_power" type="text" name="team[members][][power]"></p>
    <label for="member3_bio"><p>Hero's Biography: </label><input id="member3_bio" type="text" name="team[members][][bio]"></p>

    <button type="submit" value="submit">submit</button>

</form>