<h1>Create a Team and Heroes</h1>
<form action="/teams" method="POST">
    <p>
     <label for="team_name">Team Name:</label>
     <input type="text" name="team[name]"/>
    </p>
    <p>
     <label for="team_motto">Team Motto:</label>
     <input type="text" name="team[motto]"/>
    </p>
    
 <h2>HERO 1</h2>
    <p>
     <label>Hero's Name:</label>    
     <input type="text" id="member1_name" name="team[superheroes][][name]"/>
    </p>
    <p>
     <label>Hero's Power:</label>
     <input type="text" id="member1_power" name="team[superheroes][][power]"/>
    </p>
    <p>
     <label>Hero's Bio:</label> 
     <input type="text" id="member1_bio" name="team[superheroes][][bio]"/>
    </p> 
 <h2>HERO 2</h2>    
    <p>
     <label>Hero's Name:</label>    
     <input type="text" id="member2_name" name="team[superheroes][][name]"/>
    </p>
    <p>
     <label>Hero's Power:</label>
     <input type="text" id="member2_power" name="team[superheroes][][power]"/>
    </p>
    <p>
     <label>Hero's Bio:</label> 
     <input type="text" id="member2_bio" name="team[superheroes][][bio]"/>
    </p> 
 <h2>HERO 3</h2>    
    <p>
     <label>Hero's Name:</label>    
     <input type="text" id="member3_name" name="team[superheroes][][name]"/>
    </p>
    <p>
     <label>Hero's Power:</label>
     <input type="text" id="member3_power" name="team[superheroes][][power]"/>
    </p>
    <p>
     <label>Hero's Bio:</label> 
     <input type="text" id="member3_bio" name="team[superheroes][][bio]"/>
    </p> 
    
    <input type="submit" name="submit" value="submit"/>
</form>