<html>
<form action="" method="post">
  <h1>Create a Team and Heroes!</h1>

  <label for="team_name">Team Name:</label>
  <input type="text" id="team_name" name="team[name]" ></input>

  <label for="team_motto">Team Motto:</label>
  <input type="text" id="team_motto" name="team[motto]" ></input>

  <h2><label for="member2_name">Hero Name:</label></h2>
  <input type="text" id="member1_name" name="team[members][][name]" ></input>

  <label for="member1_power">Hero Power:</label>
  <input type="text" id="member1_power" name="team[members][][power]" ></input>

  <label for="member1_bio">Hero Biography:</label>
  <input type="text" id="member1_bio" name="team[members][][bio]" ></input>



  <h2><label for="member2_name">Hero Name:</label></h2>
  <input type="text" id="member2_name" name="team[members][][name]" ></input>

  <label for="member2_power">Hero Power:</label>
  <input type="text" id="member2_power" name="team[members][][power]" ></input>

  <label for="member2_bio">Hero Biography:</label>
  <input type="text" id="member2_bio" name="team[members][][bio]" ></input>



  <h2><label for="member3_name">Hero Name:</label></h2>
  <input type="text" id="member3_name" name="team[members][][name]" ></input>

  <label for="member3_power">Hero Power:</label>
  <input type="text" id="member3_power" name="team[members][][power]" ></input>

  <label for="member3_bio">Hero Biography:</label>
  <input type="text" id="member3_bio" name="team[members][][bio]" ></input>


   <input type="button" value='submit'>
</form>
</html>
