<form method="POST" action="/teams">
<h1>Create a Team and Heroes!</h1>

<h2>Team Name:<input type="text" name="team[name]"></h2>
<h2>Team Motto:<input type="text" name="team[motto]"></h2>

<h1>Hero 1</h1>
<h2>Hero's Name:<input id="member1_name" type="text" name="team[heroes][][name]"></h2>
<h2>Hero's Power:<input id="member1_power" type="text" name="team[heroes][]power]"></h2>
<h2>Hero's Biography:<input id="member1_bio"type="text" name="team[heroes][][bio]"></h2>

<h1>Hero 2</h1>
<h2>Hero's Name:<input id="member2_name" type="text" name="team[heroes][][name]"></h2>
<h2>Hero's Power:<input id="member2_power" type="text" name="team[heroes][]power]"></h2>
<h2>Hero's Biography:<input id="member2_bio"type="text" name="team[heroes][][bio]"></h2>

<h1>Hero 3</h1>
<h2>Hero's Name:<input id="member3_name" type="text" name="team[heroes][][name]"></h2>
<h2>Hero's Power:<input id="member3_power" type="text" name="team[heroes][]power]"></h2>
<h2>Hero's Biography:<input id="member3_bio"type="text" name="team[heroes][][bio]"></h2>

<input type="submit">
</form>
