<h1>Create a Team and Heroes!</h1>
<fieldset>
  <legend>Enter Hero Info</legend>
  <form class="" action="/teams" method="post">
    <label for="">Team Name:</label>
    <input type="text" name="team[name]"><br>
    <label for="">Team Moto:</label>
    <input type="text" name="team[motto]"><br>

    <h2>Hero 1</h2>
    <label for="">Hero's Name:</label>
    <input type="text" name="team[heroes][][name]" id="member1_name"><br>
    <label for="">Hero's Power:</label>
    <input type="text" name="team[heroes][][power]" id="member1_power"><br>
    <label for="">Hero's Biography:</label>
    <input type="text" name="team[heroes][][bio]" id="member1_bio"><br>

    <h2>Hero 2</h2>
    <label for="">Hero's Name:</label>
    <input type="text" name="team[heroes][][name]" id="member2_name"><br>
    <label for="">Hero's Power:</label>
    <input type="text" name="team[heroes][][power]" id="member2_power"><br>
    <label for="">Hero's Biography:</label>
    <input type="text" name="team[heroes][][bio]" id="member2_bio"><br>

    <h2>Hero 3</h2>
    <label for="">Hero's Name:</label>
    <input type="text" name="team[heroes][][name]" id="member3_name"><br>
    <label for="">Hero's Power:</label>
    <input type="text" name="team[heroes][][power]" id="member3_power"><br>
    <label for="">Hero's Biography:</label>
    <input type="text" name="team[heroes][][bio]" id="member3_bio"><br>

    <input type="submit" id="Submit" value="submit">
  </form>
</fieldset>
