<h1>Create a Team and Heroes!</h1>

<form action="/team" method="post">
  <p><label>Team Name: <input type="text" name="team[name]"></label></p>
  <p><label>Team Motto: <input type="text" name="team[motto]"></label></p>
  <h2>Hero 1</h2>
  <p><label>Hero's Name: <input type="text" name="team[heroes][][name]" id="member1_name"></label></p>
  <p><label>Hero's Power: <input type="text" name="team[heroes][][power]" id="member1_power"></label></p>
  <p><label>Hero's Biography: <input type="text" name="team[heroes][][bio]" id="member1_bio"></label></p>
  <h2>Hero 2</h2>
  <p><label>Hero's Name: <input type="text" name="team[heroes][][name]" id="member2_name"></label></p>
  <p><label>Hero's Power: <input type="text" name="team[heroes][][power]" id="member2_power"></label></p>
  <p><label>Hero's Biography: <input type="text" name="team[heroes][][bio]" id="member2_bio"></label></p>
  <h2>Hero 3</h2>
  <p><label>Hero's Name: <input type="text" name="team[heroes][][name]" id="member3_name"></label></p>
  <p><label>Hero's Power: <input type="text" name="team[heroes][][power]" id="member3_power"></label></p>
  <p><label>Hero's Biography: <input type="text" name="team[heroes][][bio]" id="member3_bio"></label></p>
  <p><button type="submit" value="submit">Submit</button>


</form>
