

<form action="/teams" method="POST">
  <h1>Create a Team and Heroes!</h1>
    <label>Team Name: <input type="text" name="team[name]" /></label>
    <label>Team Motto: <input type="text" name="team[motto]" /></label>

  <h3>Hero 1</h3>
    <label>Hero's Name: <input id="member1_name" type="text" name="team[members][][name]" /></label>
    <label>Hero's Power: <input id="member1_power" type="text" name="team[members][][power]" /></label>
    <label>Hero's Biography: <input id="member1_bio" type="text" name="team[members][][bio]" /></label>

  <h3>Hero 2</h3>
    <label>Hero's Name: <input id="member2_name" type="text" name="team[members][][name]" /></label>
    <label>Hero's Power: <input id="member2_power" type="text" name="team[members][][power]" /></label>
    <label>Hero's Biography: <input id="member2_bio" type="text" name="team[members][][bio]" /></label>

  <h3>Hero 3</h3>
    <label>Hero's Name: <input id="member3_name" type="text" name="team[members][][name]" /></label>
    <label>Hero's Power: <input id="member3_power" type="text" name="team[members][][power]" /></label>
    <label>Hero's Biography: <input id="member3_bio" type="text" name="team[members][][bio]" /></label>
  <input type="submit" value="submit" />
</form>
