<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Superheroes</title>

 </head>
<body>
  <h1>Create a Team and Heroes!</h1>

   <form method="post" action="/super_heroes">
    <label for="team_name"> Team Name:</label><br>
    <input type="text" id="name" name="team[name]"><br>
    <label for="team_motto"> Team Motto:</label><br>
    <input type="text" id="weight" name="team[motto]"><br>

    <h2>Hero 1</h2>

     <label for="name">Hero's Name:</label><br>
    <input type="text" id="heros_name_1" name="team[super_heros][][name]"><br>
    <label for="name">Hero's Power:</label><br>
    <input type="text" id="heros_power_1" name="team[super_heros][][power]"><br>
    <label for="name">Hero's Biography:</label><br>
    <input type="text" id="heros_biography_1" name="team[super_heros][][biography]"><br>

    <h2>Hero 2</h2>

    <label for="name">Hero's Name:</label><br>
    <input type="text" id="heros_name_2" name="team[super_heros][][name]"><br>
    <label for="name">Hero's Power:</label><br>
    <input type="text" id="heros_power_2" name="team[super_heros][][power]"><br>
    <label for="name">Hero's Biography:</label><br>
    <input type="text" id="heros_biography_2" name="team[super_heros][][biography]"><br>

    <h2>Hero 3</h2>

    <label for="name">Hero's Name:</label><br>
    <input type="text" id="heros_name_3" name="team[super_heros][][name]"><br>
    <label for="name">Hero's Power:</label><br>
    <input type="text" id="heros_power_3" name="team[super_heros][][power]"><br>
    <label for="name">Hero's Biography:</label><br>
    <input type="text" id="heros_biography_3" name="team[super_heros][][biography]"><br>

     <input type="submit" value="Submit">
  </form>

 </body>



 </html>
