
<!-- <!DOCTYPE html>
<html>

<head>
  <meta charset="UTF -8">

<title>This is the Title Create a Team and Heroes!</title>
<h1>Create a Team and Heroes!</h1>
<a href="new">Click Here to Find a Team and Hero</a>
</head>

<body>
  <p> -->

<form method="POST" action='/super_hero'>
  <h2>Team Name</h2>
  <h2>Team Motto</h2>

  <label for="team[name]">Team Name</label><br>
    <input type="text" id="team[name]"name="team[name]"/><br>

  <label for="team[motto]">Team Motto</label><br>
    <input type="text" id="team[motto]"name="team[motto]"/><br>

    <input type="submit" value="Submit">

      </p>
    </form>
  </body>
</html>
