<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Super Heros</title>
</head>
<body>
  <h1>Create a Team and Heroes!</h1>

  <form action="/super_hero" method="POST">
    
  </form>

</body>
</html>
