<h1>Create a Team and Heroes!</h1>
<form action="/teams" method="POST">
  Team Name: <input id="team[name]" type="text" name="team[name]">
  Team Moto: <input id="team[motto]" type="text" name="team[motto]">
  Member 1 Name: <input id="team[member1_name]" type="text" name="member1_name">
  Member 1 Power: <input id="team[member1_power]" type="text" name="member1_power">
  Member 1 Bio: <input id="team[member1_bio]" type="text" name="member1_bio">
  Member 2 Name: <input id="team[member2_name]" type="text" name="member2_name">
  Member 2 Power: <input id="team[member2_power]" type="text" name="member2_power">
  Member 2 Bio: <input id="team[member2_bio]" type="text" name="member2_bio">
  Member 3 Name: <input id="team[member3_name]" type="text" name="member3_name">
  Member 3 Power: <input id="team[member3_power]" type="text" name="member3_power">
  Member 3 Bio: <input id="team[member3_bio]" type="text" name="member3_bio">
<input type="submit" value="Submit">
</form>