
<h1>Create a Team and Heroes!</h1>

<form action='/teams' method="POST">

  <p>
    <label>Team Name:</label>
    <input type="text" name="team[name]">
    <p><label>Team Motto:</label></p>
    <input type="text" name="team[motto]">
  </p>

  <p>
    <h2>Hero 1</h2>
    <label>Hero's Name</label>
    <p><input id="member1_name" type="text" name="team[members][][name]"></p>
    <label>Hero's Power</label>
    <p><input id="member1_power" type="text" name="team[members][][power]"></p>
    <label>Hero's Biography</label>
    <p><input id="member1_bio" type="text" name="team[members][][bio]"></p>
  </p>

  <p>
    <h2>Hero 2</h2>
    <label>Hero's Name</label>
    <p><input id="member2_name" type="text" name="team[members][][name]"></p>
    <label>Hero's Power</label>
    <p><input id="member2_power" type="text" name="team[members][][power]"></p>
    <label>Hero's Biography</label>
    <p><input id="member2_bio" type="text" name="team[members][][bio]"></p>
  </p>

  <p>
    <h2>Hero 3</h2>
    <label>Hero's Name</label>
    <p><input id="member3_name" type="text" name="team[members][][name]"></p>
    <label>Hero's Power</label>
    <p><input id="member3_power" type="text" name="team[members][][power]"></p>
    <label>Hero's Biography</label>
    <p><input id="member3_bio" type="text" name="team[members][][bio]"></p>
  </p>

<button type="submit" id="submit">Submit</button>
</form>