<body>


<h1>"Create a Team and Heroes!"</h1>
    <form class="" action="/team" method="post">
      <p>Team Name: <input type="text" name="team[name]" value=""></p>
      <p>Team Motto: <input type="text" name="team[motto]" value=""></p>
<h2>Member 1</h2>
      <p>member 1 name: <input id="member1_name" type="text" name="team[member][][name]" value=""></input></p>
      <p>member 1 power: <input id="member1_power" type="text" name="team[member][][power]" value=""></input></p>
      <p>member 1 bio: <input id="member1_bio" type="text" name="team[member][][bio]" value=""></input></p>
<h2>Member 2</h2>
      <p>member 2 name: <input id="member2_name" type="text" name="team[member][][name]" value=""></input></p>
      <p>member 2 power: <input id="member2_power" type="text" name="team[member][][power]" value=""></input></p>
      <p>member 2 bio: <input id="member2_bio" type="text" name="team[member][][bio]" value=""></input></p>
<h2>Member 3</h2>
      <p>member 2 name: <input id="member3_name" type="text" name="team[member][][name]" value=""></input></p>
      <p>member 2 power: <input id="member3_power" type="text" name="team[member][][power]" value=""></input></p>
      <p>member 2 bio: <input id="member3_bio" type="text" name="team[member][][bio]" value=""></input></p>

      <input type="submit" name="" value="submit">
    </form>
</body>
<!-- fill_in("team[name]", :with => "Team Ruby")
fill_in("team[motto]", :with => "We love Ruby!")
fill_in("member1_name", :with => "Amanda")
fill_in("member1_power", :with => "Ruby")
fill_in("member1_bio", :with => "I love Ruby!")
fill_in("member2_name", :with => "Arel")
fill_in("member2_power", :with => "JavaScript")
fill_in("member2_bio", :with => "I love JavaScript!")
fill_in("member3_name", :with => "Katie")
fill_in("member3_power", :with => "Sinatra")
fill_in("member3_bio", :with => "I love Sinatra!")
click_button 'submit'

expect(page).to have_text("Team Ruby")
expect(page).to have_text("Team Motto: We love Ruby!")
expect(page).to have_text("Hero Name: Amanda")
expect(page).to have_text("Hero Power: Ruby")
expect(page).to have_text("Hero Biography: I love Ruby!")
expect(page).to have_text("Hero Name: Arel")
expect(page).to have_text("Hero Power: JavaScript")
expect(page).to have_text("Hero Biography: I love JavaScript!")
expect(page).to have_text("Hero Name: Katie")
expect(page).to have_text("Hero Power: Sinatra")
expect(page).to have_text("Hero Biography: I love Sinatra!") -->
