<h1>Create a Team and Heroes!</h1>
<ul>
<form action="/teams" method="POST">
  <li>Team Name: <input id="team[name]" type="text" name="team[name]"></li>
  <li>Team Moto: <input id="team[motto]" type="text" name="team[motto]"></li>
  <li>Member 1 Name: <input id="team[member1_name]" type="text" name="member1_name"></li>
  <li>Member 1 Power: <input id="team[member1_power]" type="text" name="member1_power"></li>
  <li>Member 1 Bio: <input id="team[member1_bio]" type="text" name="member1_bio"></li>
  <li>Member 2 Name: <input id="team[member2_name]" type="text" name="member2_name"></li>
  <li>Member 2 Power: <input id="team[member2_power]" type="text" name="member2_power"></li>
  <li>Member 2 Bio: <input id="team[member2_bio]" type="text" name="member2_bio"></li>
  <li>Member 3 Name: <input id="team[member3_name]" type="text" name="member3_name"></li>
  <li>Member 3 Power: <input id="team[member3_power]" type="text" name="member3_power"></li>
  <li>Member 3 Bio: <input id="team[member3_bio]" type="text" name="member3_bio"></li>
  <button type="submit" value="submit">
</form>
</ul>