<h1>Create a Team and Heroes!</h1>

<form action="/teams" method="post">
  Team Name: <input type="text" name="team[name]">
  Team Motto: <input type="text" name="team[motto]">

  Hero 1
  Hero's Name: <input input id="member1_name" type="text" name="team[members][][name]">
  Hero's Power: <input input id="member1_power" type="text" name="team[members][][power]">
  Hero's Biography: <input input id="member1_bio" type="text" name="team[members][][bio]">

  Hero 2
  Hero's Name: <input input id="member2_name" type="text" name="team[members][][name]">
  Hero's Power: <input input id="member2_power" type="text" name="team[members][][power]">
  Hero's Biography: <input input id="member2_bio" type="text" name="team[members][][bio]">

  Hero 3

  Hero's Name: <input input id="member3_name" type="text" name="team[members][][name]">
  Hero's Power: <input input id="member3_power" type="text" name="team[members][][power]">
  Hero's Biography: <input input id="member3_bio" type="text" name="team[members][][bio]">
  <input input id="submit" type="submit">
</form>
