
<ul>
<h1>Create a Team and Heroes!</h1>
<form action="/teams" method="POST">
  <li>Team Name: <input id="team[name]" type="text" name="team[name]"></li>
  <li>Team Moto: <input id="team[motto]" type="text" name="team[motto]"></li>
  <h2>Hero 1</h2>
  <li>Hero's Name: <input id="team[member1_name]" type="text" name=team[members][][member1_name]></li>
  <li>Hero's Power: <input id="team[member1_power]" type="text" name=team[members][][member1_power]></li>
  <li>Hero's Biography: <input id="team[member1_bio]" type="text" name=team[members][][member1_bio]></li>
  <h2>Hero 2</h2>
  <li>Hero's Name: <input id="team[member2_name]" type="text" name=team[members][][member2_name]></li>
  <li>Hero's Power: <input id="team[member2_power]" type="text" name=team[members][][member2_power]></li>
  <li>Hero's Biography: <input id="team[member2_bio]" type="text" name=team[members][][member2_bio]></li>
  <h2>Hero 3</h2>
  <li>Hero's Name: <input id="team[member3_name]" type="text" name=team[members][][member3_name]></li>
  <li>Hero's Power: <input id="team[member3_power]" type="text" name=team[members][][member3_power]></li>
  <li>Hero's Biography: <input id="team[member3_bio]" type="text" name=team[members][][member3_bio]></li>
</form>
<button type="button">submit</button> 
</ul>