
  <head>
    <title> Superheroes </title>
  </head>
<form action='/teams' method="POST">
  <h1>Create a Team and Heroes!</h1>
    <p> Team Name: <input type="text" id="team[name]" name="team[name]"></p>
    <p> Team Motto: <input type="text" id="team[motto]" name="team[motto]"></p>

<h2>Hero 1</h2>
<p><label for="member1_name">Hero Name:</label>
  <input type="text" name="team[heroes][][name]" id="member1_name"></p>
<p><label for="member1_power">Hero Power:</label>
  <input type="text" name="team[heroes][][power]" id="member1_power"></p>
<p><label for="member1_bio">Hero Biography:</label>
  <input type="text" name="team[heroes][][bio]" id="member1_bio"></p>

<h2>Hero 2</h2>
<p><label for="member2_name">Hero Name:</label>
  <input type="text" name="team[heroes][][name]" id="member2_name"></p>
<p><label for="member2_power">Hero Power:</label>
  <input type="text" name="team[heroes][][power]" id="member2_power"></p>
<p><label for="member2_bio">Hero Biography:</label>
  <input type="text" name="team[heroes][][bio]" id="member2_bio"></p>

  <h2>Hero 3</h2>
<p><label for="member3_name">Hero Name:</label>
  <input type="text" name="team[heroes][][name]" id="member3_name"></p>
<p><label for="member3_power">Hero Power:</label>
  <input type="text" name="team[heroes][][power]" id="member3_power"></p>
<p><label for="member3_bio">Hero Biography:</label>
  <input type="text" name="team[heroes][][bio]]" id="member3_bio"></p>
  <input id="submit" type="submit">
</form>
   