<h1>Create a Team and Heroes!</h1>
<form action="/teams" method="POST">
  Team Name: <input id="team[name]" type="text" name="team[name]">
  Team Moto: <input id="team[motto]" type="text" name="team[motto]">
<input type="submit" value="Submit">
</form>