<h1>Create a Team and Heroes!</h1><br>

<form method="post" action="teams">
  <label team_name></label>
    <input>
  <label team_motto></label>
    <input><br>

  <h2>Hero 1</h2><br>
  <label member1_name></label>
    <input>
  <label member1_power></label>
    <input>
  <label member1_bio></label>
  <input><br>

  <h2>Hero 2</h2><br>
  <label member2_name></label>
    <input>
  <label member2_power></label>
    <input>
  <label member2_bio></label>
  <input><br>

  <h2>Hero 1</h2><br>
  <label member2_name></label>
    <input>
  <label member2_power></label>
    <input>
  <label member2_bio></label>
  <input><br>

  <input type="submit" value="Submit">
</form>
