<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
 </head>
 <body>
   <h1> Create a Team and Heroes! </h1>

   <form method="POST" action="/teams">
     <label for="name">Team Name</label>
     <input type="text" name="team[name]"><br>
     <label for="name">Team Motto</label>
     <input type="text" name="team[motto]"><br>
     <label for="member">Hero Name</label>
     <input id="member1_name" type="text" name="team[heroes][][name]"><br>
     <label for="member">Hero Power</label>
     <input id="member1_power" type="text" name="team[heroes][][power]"><br>
     <label for="member">Hero Bio</label>
     <input id="member1_bio" type="text" name="team[heroes][][biography]"><br>
     <label for="member">Hero Name</label>
     <input id="member2_name" type="text" name="team[heroes][][name]"><br>
     <label for="member">Hero Power</label>
     <input id="member2_power" type="text" name="team[heroes][][power]"><br>
     <label for="member">Hero Bio</label>
     <input id="member2_bio" type="text" name="team[heroes][][biography]"><br>
     <label for="member">Hero Name</label>
     <input id="member3_name" type="text" name="team[heroes][][name]"><br>
     <label for="member">Hero Power</label>
     <input id="member3_power" type="text" name="team[heroes][][power]"><br>
     <label for="member">Hero Bio</label>
     <input id="member3_bio" type="text" name="team[heroes][][biography]"><br>
     <input type="submit" value="submit">
   </form>


 </body>
</html>
