<h1>Create a Team and Heroes!</h1>

<form method="post" action="/teams">
  <% # team %>
  <label>Team Name:</label>
  <input type='text' name='team[name]'>
  
  <label>Team Motto:</label>
  <input type='text' name="team[motto]">
  
  <h2>Hero 1</h2>
  <label>Hero's Name:</label>
  <input type='text' name='member1_name'>
  
  <label>Hero's Power:</label>
  <input type='text' name='member1_power'>
  
  <label>Hero's Biography:</label>
  <input type='text' name='member1_bio'>
  
  <h2>Hero 2</h2>
  <label>Hero's Name:</label>
  <input type='text' name='member2_name'>
  
  <label>Hero's Power:</label>
  <input type='text' name='member2_power'>
  
  <label>Hero's Biography:</label>
  <input type='text' name='member2_bio'>
  
  <h2>Hero 3</h2>
  <label>Hero's Name:</label>
  <input type='text' name='member3_name'>
  
  <label>Hero's Power:</label>
  <input type='text' name='member3_power'>
  
  <label>Hero's Biography:</label>
  <input type='text' name='member3_bio'>
  
</form>
