<!doctype HTML>
  <html>
  <head>
    <title>Create A Team of Superheros</title>
  </head>

  <body>
    <h1>Create a Team and Heroes!</h1>

    <form method="POST" action="/teams">
    <label for="team_name"><p>Team Name:</p></label>
    <input id="team_name" type="text" name="team[name]" />
    <label for="team_motto"><p>Team Motto:</p></label>
    <input id="team_motto" type="text" name="team[motto]" /><br><br>

    <h2>Hero 1</h2>
    <label for="member1_name"><p>Hero's Name:</p></label>
    <input id="member1_name" type="text" name="team[members][][name]" />
    <label for="member1_power"><p>Hero's Power:</p></label>
    <input id="member1_power" type="text" name="team[members][][power]" />
    <label for="member1_bio"><p>Hero's Biography:</p></label>
    <input id="member1_bio" type="text" name="team[members][][bio]" />

    <h2>Hero 2</h2>
    <label for="member2_name"><p>Hero's Name:</p></label>
    <input id="member2_name" type="text" name="team[members][][name]" />
    <label for="member2_power"><p>Hero's Power:</p></label>
    <input id="member2_power" type="text" name="team[members][][power]" />
    <label for="member2_bio"><p>Hero's Biography:</p></label>
    <input id="member2_bio" type="text" name="team[members][][bio]" />

    <h2>Hero 3</h2>
    <label for="member3_name"><p>Hero's Name:</p></label>
    <input id="member3_name" type="text" name="team[members][][name]" />
    <label for="member3_power"><p>Hero's Power:</p></label>
    <input id="member3_power" type="text" name="team[members][][power]" />
    <label for="member3_bio"><p>Hero's Biography:</p></label>
    <input id="member3_bio" type="text" name="team[members][][bio]" /><br>

    <button type="submit" value="submit">Submit</button>


  </form>
</body>
</html>
