
<h1>Create a Team and Heros!</h1>

<form action="team" method="POST">
<label for="team_name">Team Name:</label>
<input type="text" name="team_name"><br>
<label for="team_motto">Team Motto:</label>
<input type="text" name="team_motto"><br><br>

<h1>Hero 1</h1>
<label>Hero Name:</label>
<input type="text" name="hero[][name]"><br>
<label>Hero Power:</label>
<input type="text" name="hero[][power]"><br>
<label>Hero biography:</label>
<input type="text" name="hero[][bio]"><br><br>

<h1>Hero 2</h1>
<label>Hero Name:</label>
<input type="text" name="hero[][name]"><br>
<label>Hero Power:</label>
<input type="text" name="hero[][power]"><br>
<label>Hero biography:</label>
<input type="text" name="hero[][bio]"><br><br>

<h1>Hero 3</h1>
<label>Hero Name:</label>
<input type="text" name="hero[][name]"><br>
<label>Hero Power:</label>
<input type="text" name="hero[][power]"><br>
<label>Hero biography:</label>
<input type="text" name="hero[][bio]"><br><br>

<input type=submit name="Submit">
</form>