<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Superhero and Team Registry</title>
 </head>
 <body>

  <h1>Create a Team and Heroes!</h1>

  <form action="/teams" method="post">
    Team Name: <input id=team[name] type="text" name="team[name]"><br>
    Team Motto: <input id=pirate[weight] type="text" name="pirate[weight]"><br>
    <h2>Hero 1</h2>
    Hero's Name: <input id=members[name] type="text" name="members[name]"><br>
    Hero's Power: <input id=members[power] type="text" name="members[power]"><br>
    Hero's Biography: <input id=members[biography] type="text" name="members[biography]"><br>
    <h2>Hero 2</h2>
    Hero's Name: <input id=members[name] type="text" name="members[name]"><br>
    Hero's Power: <input id=members[power] type="text" name="members[power]"><br>
    Hero's Biography: <input id=members[biography] type="text" name="members[biography]"><br>
    <h2>Hero 3</h2>
    Hero's Name: <input id=members[name] type="text" name="members[name]"><br>
    Hero's Power: <input id=members[power] type="text" name="members[power]"><br>
    Hero's Biography: <input id=members[biography] type="text" name="members[biography]"><br><br>
    <input type="submit" value="Submit">
  </form>
  </body>
</html>
