<!DOCTYPE>
<html>
<form action ='/team' method='POST'>
  <h1> Create a Team and Heroes! </h1>
  <h3> Team Name: <input type='text' name='team_name'></p>
  <h3> Team Motto: <input type='text' name='team_motto'></p>
    <br>
  <h2> Hero 1 </h2>
  <h3> Hero's Name: <input type='text' name=hero(params["team"]["members"][0]["name"])></p>
  <h3> Hero's Power: <input type='text' name=hero(params["team"]["members"][1]["power"])></p>
  <h3> Hero's Biography: <input type='text' name=hero(params["team"]["members"][2]["biography"])></p>
    <br>
  <h2> Hero 2 </h2>
  <h3> Hero's Name: <input type='text' name=hero(params["team"]["members"][0]["name"])></p>
  <h3> Hero's Power: <input type='text' name=hero(params["team"]["members"][1]["power"])></p>
  <h3> Hero's Biography: <input type='text' name=hero(params["team"]["members"][2]["biography"])></p>
    <br>
  <h2> Hero 3 </h2>
  <h3> Hero's Name: <input type='text' name=hero(params["team"]["members"][0]["name"])></p>
  <h3> Hero's Power: <input type='text' name=hero(params["team"]["members"][1]["power"])></p>
  <h3> Hero's Biography: <input type='text' name=hero(params["team"]["members"][2]["biography"])></p>
  <h1><input id="   Submit   " type="submit"></h1>
  <br>
  </form>
  </html>













  <button input id="Submit" type="submit"></button>
