<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Super Heroes</title>
        <style></style>
    </head>
    <body>
        <form action="/teams" method="POST">
        <div>
            <h1>Create a Team and Heroes!</h1>
            <label>Team Name: <input type="text" name="team[name]"></label>
            <br />
            <label>Team Motto: <input type="text" name="team[motto]"></label>
        </div>
            <div>
        <!--<input id="member1_name" type="text" name="team[members][][name]">-->
                <h2>Hero 1</h2>
                <label for="member1_name">Hero's Name:
                <input id="member1_name" type="text" name="team[members][][name]">
                </label><br />
                <label for="member1_power">Hero's Power:
                <input id="member1_power" type="text" name="team[members][][power]">
                </label><br />
                <label for="member1_bio">Hero's Biography:
                <input id="member1_bio" type="text" name="team[members][][bio]">
                </label><br />
            </div>
            <div>
                <h2>Hero 2</h2>
                <label for="member2_name">Hero's Name:
                <input id="member2_name" type="text" name="team[members][][name]">
                </label><br />
                <label for="member2_power">Hero's Power:
                <input id="member2_power" type="text" name="team[members][][power]">
                </label><br />
                <label for="member2_bio">Hero's Biography:
                <input id="member2_bio" type="text" name="team[members][][bio]">
                </label><br />
            <div>
            <div>
                <h2>Hero 3</h2>
                <label for="member3_name">Hero's Name:
                <input id="member3_name" type="text" name="team[members][][name]">
                </label><br />
                <label for="member3_power">Hero's Power:
                <input id="member3_power" type="text" name="team[members][][power]">
                </label><br />
                <label for="member3_bio">Hero's Biography:
                <input id="member3_bio" type="text" name="team[members][][bio]">
                </label><br />
            <div>
            <div>
                <br />
                <label for="submit"></label>
                <input type="submit" id="submit" value="Submit">
            </div>
        </form>
    </body>
</html>
