<h1>Create a Team and Heroes!</h1>
<form action="/team" method="POST">
	Name: <input name="team[name]"><br>
	Motto: <input name="team[motto]"><br>

	<h3>Hero 1</h3>
	Name: <input name="team[heroes][][name]" id="member1_name"><br>
	Power: <input name="team[heroes][][power]" id="member1_power"><br>
	Biography: <input name="team[heroes][][bio]" id="member1_bio"><br>

	<h3>Hero 2</h3>
	Name: <input name="team[heroes][][name]" id="member2_name"><br>
	Power: <input name="team[heroes][][power]" id="member2_power"><br>
	Biography: <input name="team[heroes][][bio]" id="member2_bio"><br>

	<h3>Hero 3</h3>
	Name: <input name="team[heroes][][name]" id="member3_name"><br>
	Power: <input name="team[heroes][][power]" id="member3_power"><br>
	Biography: <input name="team[heroes][][bio]" id="member3_bio"><br>
	<input type="submit" id="submit" value="Create Team!">
</form>
