<h1>Create A Team and Heroes!</h1>
  <form method=POST action="/teams">
  <label for="name"> Team Name:</label>
  <input type="text" id="team_name" name="team[name]"><br>
  <label for="name"> Team Motto:</label>
  <input type="text" id="team_motto" name="team[motto]"><br>
  <h2>Hero 1</h2>
  <label for="name"> Hero Name:</label>
  <input type="text" id="member1_name" name="team[hero][][name]"><br>
  <label for="name"> Hero Power:</label>
  <input type="text" id="member1_power" name="team[hero][][power]"><br>
  <label for="name"> Hero Biography:</label>
  <input type="text" id="member1_bio" name="team[hero][][biography]"><br>
  <h2>Hero 2</h2>
  <label for="name"> Hero Name:</label>
  <input type="text" id="member2_name" name="team[hero][][name]"><br>
  <label for="name"> Hero Power:</label>
  <input type="text" id="member2_power" name="team[hero][][power]"><br>
  <label for="name"> Hero Biography:</label>
  <input type="text" id="member2_bio" name="team[hero][][biography]"><br>
  <h2>Hero 3</h2>
  <label for="name"> Hero Name:</label>
  <input type="text" id="member3_name" name="team[hero][][name]"><br>
  <label for="name"> Hero Power:</label>
  <input type="text" id="member3_power" name="team[hero][][power]"><br>
  <label for="name"> Hero Biography:</label>
  <input type="text" id="member3_bio" name="team[hero][][biography]"><br><br>
  <button type="submit" value="submit">Submit</button>
</form>
