<!DOCTYPE>
<html>
<h1> Flatiron </h1>
<p> <h2> Team Motto: School Rocks! </h2> </p>
<p> <h2> Hero Name: <%= "#{params[:name]}" %> <h2> </p>
<p> <h4> Hero Power: Super Pump </h4> </P>
<p> <h4> Hero Biography: Power Super Pump </h4> </P>

</hmtl>
