<h1>Create a Team and Heros!</h1>

<form action="team" method="post">
  <label for="team_name">Team Name:</label>
  <input type="text" name="team_name" id="team_name" value=""><br>
  <label for="team_motto">Team Motto:</label>
  <input type="text" name="team-motto" id="team_motto" value="">
  <br>
  <h1>Hero 1</h1>
  <label for="heros_name1">Hero's Name:</label>
  <input type="text" name="heros_name1" id="heros_name1" value="">
  <br>
  <label for="heros_power1">Hero's Power:</label>
  <input type="text" name="heros_power1" id="heros_power1" value="">
  <br>
  <label for="heros_biography1">Hero's Biography:</label>
  <input type="text" name="heros_biography1" id="heros_biography1" value="">
  <br>

  <h1>Hero 2</h1>
  <label for="heros_name2">Hero's Name:</label>
  <input type="text" name="heros_name2" id="heros_name2" value="">
  <br>
  <label for="heros_power2">Hero's Power:</label>
  <input type="text" name="heros_power2" id="heros_power2" value="">
  <br>
  <label for="heros_biography2">Hero's Biography:</label>
  <input type="text" name="heros_biography2" id="heros_biography2" value="">
  <br>

  <h1>Hero 3</h1>
  <label for="heros_name3">Hero's Name:</label>
  <input type="text" name="heros_name3" id="heros_name3" value="">
  <br>
  <label for="heros_power3">Hero's Power:</label>
  <input type="text" name="heros_power3" id="heros_power3" value="">
  <br>
  <label for="heros_biography3">Hero's Biography:</label>
  <input type="text" name="heros_biography3" id="heros_biography3" value="">
  <br>
  <input type="submit" name="submit" id="submit" value="Submit">
  <br>
</form>
