<h1>Create a Team and Heroes!</h1>
<form method="post" action="/teams">
  <label for="team[name]">TEAM NAME: </label>
  <input type="text" id="team[name]" name="team[name]"><br>

  <label for="team[motto]">Team motto: </label>
  <input type="text" id="team[motto]" name="team[motto]"><br>

  <label for="team[super_heroes][][name]">First member's name: </label>
  <input type="text" id="member1_name" name="team[super_heroes][][name]"><br>

  <label for="team[super_heroes][][power]">First member's power: </label>
  <input type="text" id="member1_power" name="team[super_heroes][][power]"><br>

  <label for="team[super_heroes][][bio]">First member's bio: </label>
  <input type="text" id="member1_bio" name="team[super_heroes][][bio]"><br>

  <label for="team[super_heroes][][name]">Second member's name: </label>
  <input type="text" id="member2_name" name="team[super_heroes][][name]"><br>

  <label for="team[super_heroes][][power]">Second member's power: </label>
  <input type="text" id="member2_power" name="team[super_heroes][][power]"><br>

  <label for="team[super_heroes][][bio]">Second member's bio: </label>
  <input type="text" id="member2_bio" name="team[super_heroes][][bio]"><br>

  <label for="team[super_heroes][][name]">Third member's name: </label>
  <input type="text" id="member3_name" name="team[super_heroes][][name]"><br>

  <label for="team[super_heroes][][power]">Third member's power: </label>
  <input type="text" id="member3_power" name="team[super_heroes][][power]"><br>

  <label for="team[super_heroes][][bio]">Third member's bio: </label>
  <input type="text" id="member3_bio" name="team[super_heroes][][bio]"><br>

  <input type="submit" id="submit" value="Submit!">
</form>


