<h1>Team Ruby</h1>

<h2>Team Motto: We love Ruby!</h2>

<h2><label for="hero_name">Hero Name:</label></h2>
<input type="text" name="hero[name]">

  <p> </p>
  <p> </p>

<h2>Hero Name:</h2>
  <p> </p>
  <p> </p>

<h2>Hero Name:</h2>
  <p> </p>
  <p> </p>
