<h1>Create a Team and Heroes!</h1>
<form action="/teams" method="POST" accept-charset="utf-8">
  <label>Team Name: <input type="text" name="team[name]" id="name"/></label><br>
  <label>Team Motto: <input type="text" name="team[motto]" id="motto"/></label><br>

  <h2>Hero 1</h2>
  <label>Hero's Name: <input type="text" name="team[heroes][][name]" id="member1_name"/></label><br>
  <label>Hero's Power: <input type="text" name="team[heroes][][power]" id="member1_power"/></label><br>
  <label>Hero's Biography: <input type="text" name="team[heroes][][biography]" id="member1_bio"/></label><br>

  <h2>Hero 2</h2>
  <label>Hero's Name: <input type="text" name="team[heroes][][name]" id="member2_name"/></label><br>
  <label>Hero's Power: <input type="text" name="team[heroes][][power]" id="member2_power"/></label><br>
  <label>Hero's Biography: <input type="text" name="team[heroes][][biography]" id="member2_bio"/></label><br>

  <h2>Hero 3</h2>
  <label>Hero's Name: <input type="text" name="team[heroes][][name]" id="member3_name"/></label><br>
  <label>Hero's Power: <input type="text" name="team[heroes][][power]" id="member3_power"/></label><br>
  <label>Hero's Biography: <input type="text" name="team[heroes][][biography]" id="member3_bio"/></label><br>

  <input type="submit" name="submit" id="submit"/>
</form>


