<form action="/teams" method="post">

  <h2>Create a Team and Heroes!</h2>

  <div>
    <label for="team[name]"> Team Name: </label>
    <input type="text" id="team[name]" name="team[name]" />
  <div>
  <div>
    <label for="team[motto]"> Team Motto: </label>
    <input type="text" id="team[motto]" name="team[motto]" />
  <div>



  <div>
    <label for="member1_name"> Hero Name: </label>
    <input type="text" id="member1_name" name="team[members][][name]" />
  <div>
  <div>
    <label for="member1_power"> Hero Power: </label>
    <input type="text" id="member1_power" name="team[members][][power]" />
  <div>
  <div>
    <label for="member1_bio"> Hero Biography: </label>
    <input type="text" id="member1_bio" name="team[members][][bio]" />
  <div>



  <div>
    <label for="member2_name"> Hero Name: </label>
    <input type="text" id="member2_name" name="team[members][][name]" />
  <div>
  <div>
    <label for="member2_power"> Hero Power: </label>
    <input type="text" id="member2_power" name="team[members][][power]" />
  <div>
  <div>
    <label for="member2_bio"> Hero Biography: </label>
    <input type="text" id="member2_bio" name="team[members][][bio]" />
  <div>



  <div>
    <label for="member3_name"> Hero Name: </label>
    <input type="text" id="member3_name" name="team[members][][name]" />
  <div>
  <div>
    <label for="member3_power"> Hero Power: </label>
    <input type="text" id="member3_power" name="team[members][][power]" />
  <div>
  <div>
    <label for="member3_bio"> Hero Biography: </label>
    <input type="text" id="member3_bio" name="team[members][][bio]" />
  <div>



  <input type="submit" id="submit">



</form>
